/*-----FONTS-----*/

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Alice';
	src: url('../fonts/Alice/Alice-Regular.ttf') format('truetype');
}
