.burger-menu {
  position: absolute;
  top: 12px;
  right: -5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  text-align: center;
}
.burger {
  position: absolute;
  background-color: #010102;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 3px;
}
.burger::before {
  position: absolute;
  background-color: #010102;
  width: 25px;
  height: 2px;
  top: 9px;
  border-radius: 3px;
  content: "";
  display: none;
}
.burger::after {
  position: absolute;
  background-color: #010102;
  width: 25px;
  height: 2px;
  bottom: 8px;
  border-radius: 3px;
  content: "";
  display: none;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
  background-color: $colorNav;
}
.burger-menu.menu-on .burger::before{
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
  background-color: $accentBlue;
}
.burger-menu.menu-on .burger{
 background: transparent;
}
/* Media Queries */
@media screen and (max-width: 768px) {
.burger {
  opacity: 1;
}
.burger::before {
  display: block;
}
.burger::after {
  display: block;
}
}
@media screen and (max-width: 320px) {
.burger-menu {
  margin: 0 0 0 160px;
}
}