/* Helper classes */
.cont {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.noscroll .cont {
	overflow-y: hidden;
}

.slider {
	position: relative;
	z-index: 200;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 7em;
	text-align: center;
	user-select: none;
}

.slide {
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	opacity: 0;
}

.slide--current {
	position: relative;
	z-index: 100;
	visibility: visible;
	opacity: 1;
}

.slide__mover {
	position: relative;
	z-index: 100;
}

.slide__title {
	font-size: 36px;
	font-weight: normal;
	margin: 0 auto;
	padding: 15px 0 0 0;
	color: #cccccc;
}

.slide__title span {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	display: block;
	letter-spacing: 2px;
	color: #cccccc;
}

.slider__nav {
	position: absolute;
	bottom: 2em;
	width: 100%;
	text-align: center;
}

.button {
	font-size: 40px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0 35px;
	cursor: pointer;
	color:#cccccc;
	border: none;
	background: none;
}

.button:focus {
	outline: none;
}

.button:hover {
	color: white;
}

.text-hidden {
	position: absolute;
	top: 200%;
}

.button--close {
	font-size: 40px;
	position: absolute;
	top: 60px;
	right: 60px;
	margin: 0;
	opacity: 0;
	color: #cccccc;
	transition: opacity 0.3s;
}

.content--open .button--close {
	opacity: 1;
}

/* Zoomer */
.textBox {
	padding: 30px;
	text-align: left;
	background-color: white;
	max-width: 750px;
	border-bottom: 3px solid #fc5f45;
}
.textBox-green {
	border-bottom: 3px solid #38c695;
}
.textBox-yellow {
	border-bottom: 3px solid #feb960;
}
.textBox-purple {
	border-bottom: 3px solid #b27cf5;
}
.text {
	margin-bottom: 35px;
	line-height: 1.4em;
	font-size: 15px;
	font-weight: 400;
	color: #616161;
}
.textName {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 500;
	color: #272727;
}
.textFont {
	font-family: 'Sacramento';
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 500;
	color: #272727;
}
.textRed {
	font-size: 13px;
	font-weight: 400;
	color: #fc5f45;
}

.zoomer {
	z-index: 101;
	position: relative;
	height: 360px; /* this is needed for IE10 so that vertical flexbox centering works */
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.zoomer__image {
	position: relative;
	display: block;
	margin: 0;
	flex: none;
	z-index: 106;
}

.zoomer__area,
.preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-163%,-50%,0);
}

.zoomer__area:focus {
	outline: none;
}

.zoomer__area--size-1 {
	/* Apple Watch */
	width: 330px;
	height: 330px;
}

.zoomer__area--size-2 {
	/* iPhone */
	width: 330px;
	height: 330px;
}

.zoomer__area--size-3 {
	/* MacBook */
	width: 330px;
	height: 330px;
}

.zoomer__area--size-4 {
	/* iPad */
	width: 330px;
	height: 330px;
}

.preview {
	overflow: hidden;
	background: #3f4049;
}

.preview img {
	display: block;
	border-radius: inherit;
	transform: translate3d(0,0,0);
}

.zoomer--active .preview img {
	transform: translate3d(100%,0,0);
}

.rounded {
	border-radius: 15px;
}

.rounded-right {
	border-radius: 0 15px 15px 0;
}

.preview__content {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
/* Content */
.content {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -100%;
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100vh;
	background: #3f4049;
}

.content--open {
	left: 0;
}

.content__item {
	position: absolute;
	top: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	height: 0;
	min-height: 100%;
	margin: 0 auto;
	padding: 2em 0;
	pointer-events: none;
	opacity: 0;
	color: #fff;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.content__item--current {
	pointer-events: auto;
	opacity: 1;
}

.content__item--reset {
	height: auto;
}

.content h2 {
	font-size: 3.5em;
	font-weight: normal;
	margin: 0;
}

.content h3 {
	font-size: 1.95em;
	font-weight: normal;
	margin: 0.25em 0 0.5em;
	color: #cccccc;
}

.content p {
	font-size: 1.25em;
	line-height: 1.5;
	margin-bottom: 20px;
}

.content__item-img {
	display: block;
	max-width: 40vw;
	max-height: 80vh;
	transform: translate3d(-120%,0,0);
	flex: none;
}

.content__item--current .content__item-img {
	transform: translate3d(-10px,0,0);
}

.content__item-inner {
	padding: 0 10vw 0;
	opacity: 0;
	transform: translate3d(0,50px,0);
}

.content__item--current .content__item-inner {
	opacity: 1;
	transform: translate3d(0,0,0);
}


/**************************/
/* All synced transitions */
/**************************/

.zoomer {
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.zoomer.zoomer--notrans {
	transition: none;
}

.zoomer__image {
	transition: opacity 0.3s 0.3s;
}

.zoomer--active .zoomer__image {
	opacity: 0;
	transition-delay: 0s;
}

.preview img {
	transition: transform 0.6s 0.3s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.zoomer--active .preview img {
	transition: transform 0.3s;
}

.content {
	transition: left 0s;
}

.content__item {
	transition: opacity 0s;
}

.content,
.content__item {
	/* delay for content to disappear and zoomer to start transitioning back to 0 */
	transition-delay: 0.3s;
}

.content--open,
.content__item--current {
	transition: none;
}

.content__item-img {
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,1,0.8,1);
}

.content__item--current .content__item-img {
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-duration: 1s;
}

.content__item-inner {
	transition: transform 0.6s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
}

.content__item--current .content__item-inner {
	transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
	transition-duration: 1.7s;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
	.textBox {
		max-width: 650px;
	}
	.zoomer__area,
	.preview {
		transform: translate3d(-149%,-50%,0);
	}
}
@media screen and (max-width: 1024px) {
	.button {
		font-size: 35px;
	}
	.textBox {
		max-width: 550px;
	}
	.zoomer__area,
	.preview {
		transform: translate3d(-133%,-50%,0);
	}
}
@media screen and (max-width: 768px) {
	.button {
		font-size: 30px;
	}
	.textBox {
		display: none;	
	}
	.zoomer__area,
	.preview {
		transform: translate3d(-50%,-50%,0);
	}
}
@media screen and (max-width: 640px) {
	.button {
		font-size: 25px;
		margin: 0 25px;
	}
	.button--close {
		font-size: 30px;
		top: 30px;
		right: 30px;
	}
	.content__item {
		display: block;
	}
	.content__item-img {
		max-width: calc(100% - 80px);
		max-height: 70vh;
	}
	.content h2 {
		font-size: 3em;
	}
	.content__item-inner {
		font-size: 82%;
		padding: 4em 3em 2em;
	}
}
@media screen and (max-width: 480px) {
	.button {
		font-size: 22px;
		margin: 0 15px;
	}
	.button--close {
		font-size: 25px;
		top: 15px;
		right: 0;
	}
	.content__item-inner {
		font-size: 82%;
		padding: 30px 20px 20px;
	}
}