/*----COLORS-----*/
$white: #fff;
$colorNav: #272727;
$colorNavLight: rgba(39, 39, 39, .9);
$TxtGray: #616161;
$TxtGrayLight: rgba(97, 97, 97, .8);
$red: #fc5f45;
$redShadow: #fdcbc2;
$yellow: #feb960;
$yellowShadow: #fdf2bd;
$purpShadow: #ddc3fd;
$green: #38c695;
$greenShadow: #bdfcdc;
$purpure: #b27cf5;
$gray: #cccccc;
$graylight: #f6f6f6;
$digits: #e0e0e0;
$bgSlider: #3f4049;
$digitsSleder: #494951;