/*----COLORS-----*/
$accentBlue: rgba(0, 89, 179, 1);
$accentBlueLight: rgba(0, 119, 179, 1);
$white: #fff;
$colorNav: #272727;
$colorNavLight: rgba(39, 39, 39, .9);
$TxtGray: #616161;
$TxtGrayLight: rgba(97, 97, 97, .8);
$red: #fc5f45;
$redShadow: #fdcbc2;
$yellow: #feb960;
$yellowLight: #fdc969;
$yellowShadow: rgba(250, 237, 137, 0.15);
$green: rgba(74, 147, 31, 1);
$greenShadow: #bdfcdc;
$gray: #cccccc;
$blue: blue;
$graylight: #eceaea;
$digits: #e0e0e0;
$bgSlider: #3f4049;
$digitsSleder: #494951;