<div class="aboutUsSection">
  <div class="wrapper">
    <div class="imgAbout">
      <img src="img/aboutUs.png" alt="About Us">
    </div>
    <div class="article">
      <p class="article__digits">01</p>
      <p class="article__titleText">About Us.</p>
      <div class="article__text">
        <p>
        Analytics release series A financing launch party interaction design android angel investor. Vesting period social media sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long tail influencer.
      </p>
      <p>
        Monetization validation success. Seed round channels product 
        management. Customer non-disclosure agreement strategy 
        android growth hacking ramen buyer.
      </p>
      </div>
      <div class="lineBox">
        <div class="lineBox__line lineBox__line-red"></div>
        <div class="lineBox__line lineBox__line-green"></div>
        <div class="lineBox__line lineBox__line-purple"></div>
        <div class="lineBox__line lineBox__line-yellow"></div>
      </div>
    </div>
  </div>
</div>
