<div class="blogSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">09</p>
      <p class="article__titleText article__titleText-text">Our Blog.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="rowItems">
    <div class="items">
      <div class="item item-red item-blog">
        <div class="item__img item__img-blog">
          <img src="img/blog.png" alt="Web Design">
          <p class="item__title item__title-blog">Damian Schreiber<span>December 10.2015</span></p>
        </div>
        <p class="item__title-article">Facebook’s CNN livestream will test its place in the second screen era</p>
        <div class="item__text item__text-article">
          <p>Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm<a class="link red" href="#">Read Full Article  »</a></p>
        </div>
      </div>
    </div>
    <div class="items items-blog">
      <div class="item item-green item-blog">
        <p class="item__title item__title-blogGreen">David Krämer<span>December 10.2015</span></p>
        <p class="item__title-article">Google Street View adds virtual reality support</p>
        <div class="item__text item__text-article">
          <p>Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm<a class="link green" href="#">Read Full Article  »</a></p>
        </div>
      </div>
      <div class="item item-purpure item-blog">
        <p class="item__title item__title-blogPurple">David Krämer<span>December 10.2015</span></p>
        <p class="item__title-article">Google Street View adds virtual reality support</p>
        <div class="item__text item__text-article">
          <p>Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm<a class="link purple" href="#">Read Full Article  »</a></p>
        </div>
      </div>
      <div class="item item-yellow item-blog">
        <p class="item__title item__title-blogYellow">David Krämer<span>December 10.2015</span></p>
        <p class="item__title-article">Google Street View adds virtual reality support</p>
        <div class="item__text item__text-article">
          <p>Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm<a class="link yellow" href="#">Read Full Article  »</a></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>