<div class="firstSection" id="firstSection">
  <div class="wrapper">
    <div class="contentHead">
      <div class="wrapContent">
        <h1 class="titleContent">душевная домашняя кухня</h1>
        <p class="textContent">от лучших поваров Вашего города</p>
        <div class="tabs">
            <input type="radio" name="tabs" id="tabone" checked="checked">
            <label class="one" for="tabone">по блюду</label>
            <div class="tab">
              <h3 class="tabTitle">Выбирайте любимые блюда</h3>
              <input class="searchText" type="text" placeholder="Поиск...">
              <button class="searchSubmit" type="submit">найти</button>
              <div class="playVideo">
                <div class="wrapPlay">
                    <img src="img/play.png" alt="">
                    <button class="playBtn">Как работает сервис?</button>
                </div>
              </div>
            </div>
            
            <input type="radio" name="tabs" id="tabtwo">
            <label class="two" for="tabtwo">по месту</label>
            <div class="tab">
              <h3 class="tabTitle">Найдите повара рядом с Вами</h3>
              <button class="searchMap"><i class="fa fa-map-marker"></i>Найти на карте</button>
              <p class="subText">или</p>
              <input class="searchText" type="text" placeholder="Поиск...">
              <button class="searchSubmit" type="submit">найти</button>
              <div class="playVideo">
                  <div class="wrapPlay">
                      <img src="img/play.png" alt="">
                      <button class="playBtn">Как работает сервис?</button>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    
  </div>
</div>
