<div class="firstSection">
  <div class="wrapper">
    <h1 class="firstSection__title">We design things with love and passion.</h1>
    <div class="firstSection__wrapBtn">
      <button class="customBtn red">Our Works</button>    
    </div>
    <div class="boxes">
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/price.png" alt="price">
        </div>
        <p class="boxes__text boxes__text-green">Fixed price projects</p>
      </div>
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/time.png" alt="time">
        </div>
        <p class="boxes__text boxes__text-purpure">Fixed price projects</p>
      </div>
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/guranteed.png" alt="guranteed">
        </div>
        <p class="boxes__text boxes__text-yellow">Fixed price projects</p>
      </div>
    </div>
  </div>
</div>
