<div class="fokusSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">02</p>
      <p class="article__titleText article__titleText-text">Our Fokus.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="items">
      <div class="item item-red">
        <div class="item__img">
          <img src="img/webDesign.png" alt="Web Design">
        </div>
        <p class="item__title">Web Design</p>
        <div class="item__text">
          <p>Analytics release series A financing launch party</p>
          <p>interaction design android angel investor.</p>
        </div>
      </div>
      <div class="item item-green">
        <div class="item__img">
          <img src="img/design.png" alt="Ux Design">
        </div>
        <p class="item__title">Ux Design</p>
        <div class="item__text">
          <p>Analytics release series A financing launch party</p>
          <p>interaction design android angel investor.</p>
        </div>
      </div>
      <div class="item item-purpure">
        <div class="item__img">
          <img src="img/photography.png" alt="photography">
        </div>
        <p class="item__title">photography</p>
        <div class="item__text">
          <p>Analytics release series A financing launch party</p>
          <p>interaction design android angel investor.</p>
        </div>
      </div>
      <div class="item item-yellow">
        <div class="item__img">
          <img src="img/app.png" alt="App Development">
        </div>
        <p class="item__title">App Development</p>
        <div class="item__text">
          <p>Analytics release series A financing launch party</p>
          <p>interaction design android angel investor.</p>
        </div>
      </div>
    </div>
  </div>
</div>