<div class="footerSection">
  <div class="wrapper">
	<div class="footerRow">
	  <div class="footerItem red">
		<img class="footerItem__img" src="img/logo_footer.png" alt="">
	  </div>
		<div class="footerItem green">
		  <p class="footerItem__titleColor green">Alexis LLC.</p>
		  <p class="footerItem__textColor">4125 Brighton Circle Road</p>
		  <p class="footerItem__textColor">Little Falls, MN 56345</p>
		</div>
		<div class="footerItem purple">
		  <p class="footerItem__titleColor purple">Alexis LLC UK.</p>
		  <p class="footerItem__textColor">81 Golden Knowes Road</p>
		  <p class="footerItem__textColor">FRESHFIELD L37 6TP</p>
		</div>
		<div class="footerItem yellow">
		  <p class="footerItem__titleColor yellow">Follow Us.</p>
		  <div class="social social-inline">
            <p class="textIcon textIcon-footer">
              <i class="fa fa-facebook-square " aria-hidden="true"></i></p>
            <p class="textIcon textIcon-footer">
              <i class="fa fa-twitter-square" aria-hidden="true"></i></p>
            <p class="textIcon textIcon-footer">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i></p>
            <p class="textIcon textIcon-footer">
              <i class="fa fa-instagram" aria-hidden="true"></i></p>
          </div>
		</div>
	</div>
  </div>
</div>
<script src="js/script.js"></script>
<script src="js/classie.js"></script>
<script src="js/dynamics.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>