<div class="formSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-form">10</p>
      <p class="article__titleText article__titleText-text">Get in Touch.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <form class="form">
      <div class="rowForm">
        <input type="text" name="name" class="input" placeholder="Your Name"></input>
        <input type="text" name="email" class="input" placeholder="Your Email"></input>
      
        <input type="text" name="subject" class="input" placeholder="Subject"></input>
        <input type="text" name="budget" class="input" placeholder="Project Budget"></input>
        <input type="text" name="message" class="textarea" placeholder="Your Massage"></input>
        <button class="customBtn red form">Send Message</button>
      </div>
      
      
    </form>

  </div>
</div>