<div class="indicatorSection">
  <div class="overley"></div>
  <div class="wrapper">
    <div class="boxes">
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/projects.png" alt="projects">
        </div>
        <p class="boxes__text boxes__text-white">12,458+</p>
        <p class="boxes__text boxes__text-white boxes__text-fontSize">Projects Completed</p>
        <div class="boxes__img boxes__img-margin">
          <img class="animated zoomIn" src="img/circleRed.svg" alt="projects">
        </div>
      </div>
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/clients.png" alt="projects">
        </div>
        <p class="boxes__text boxes__text-white">1,796+</p>
        <p class="boxes__text boxes__text-white boxes__text-fontSize">Satisfied Clients</p>
        <div class="boxes__img boxes__img-margin">
          <img class="animated zoomIn" src="img/circleGreen.svg" alt="projects">
        </div>
      </div>
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/positive.png" alt="projects">
        </div>
        <p class="boxes__text boxes__text-white">1,000+</p>
        <p class="boxes__text boxes__text-white boxes__text-fontSize">Positive Feedbacks</p>
        <div class="boxes__img boxes__img-margin">
          <img class="animated zoomIn" src="img/circlePurple.svg" alt="projects">
        </div>
      </div>
      <div class="boxes__box">
        <div class="boxes__img">
          <img class="animated zoomIn" src="img/freebies.png" alt="projects">
        </div>
        <p class="boxes__text boxes__text-white">1,500+</p>
        <p class="boxes__text boxes__text-white boxes__text-fontSize">Freebies Released</p>
        <div class="boxes__img boxes__img-margin">
          <img class="animated zoomIn" src="img/circleYellow.svg" alt="projects">
        </div>
      </div>
    </div>
  </div>
</div>
