<div class="portfolioSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">03</p>
      <p class="article__titleText article__titleText-text">Portfolio.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="portfolio">
      <div class="portfolio__items" id="items1">
        <div class="itemRow">
          <img src="img/photoItem1.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle"></span>
          <span class="lineHorisontal"></span>
          <span class="lineVertical"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items2">
        <div class="itemRow">
          <img src="img/photoItem2.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle"></span>
          <span class="lineHorisontal"></span>
          <span class="lineVertical"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items3">
        <div class="itemRow">
          <img src="img/photoItem3.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle circle-change"></span>
          <span class="lineHorisontal lineHorisontal-change"></span>
          <span class="lineVertical lineVertical-change"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items4">
        <div class="itemRow">
          <img src="img/photoItem4.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle"></span>
          <span class="lineHorisontal"></span>
          <span class="lineVertical"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items5">
        <div class="itemRow">
          <img src="img/photoItem5.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle"></span>
          <span class="lineHorisontal"></span>
          <span class="lineVertical"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items6">
        <div class="itemRow">
          <img src="img/photoItem6.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle circle-change"></span>
          <span class="lineHorisontal lineHorisontal-change"></span>
          <span class="lineVertical lineVertical-change"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items7">
        <div class="itemRow">
          <img src="img/photoItem7.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle circle-change"></span>
          <span class="lineHorisontal lineHorisontal-change"></span>
          <span class="lineVertical lineVertical-change"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items8">
        <div class="itemRow">
          <img src="img/photoItem8.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle circle-change"></span>
          <span class="lineHorisontal lineHorisontal-change"></span>
          <span class="lineVertical lineVertical-change"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
      <div class="portfolio__items" id="items9">
        <div class="itemRow">
          <img src="img/photoItem9.png" alt="portfolio">
        </div>
        <div class="plus">
          <span class="circle"></span>
          <span class="lineHorisontal"></span>
          <span class="lineVertical"></span>
        </div>
        <div class="overley">
          <div class="itemFooter">
            <div class="lineBox">
              <div class="lineBox__line lineBox__line-red"></div>
              <div class="lineBox__line lineBox__line-green"></div>
              <div class="lineBox__line lineBox__line-purple"></div>
              <div class="lineBox__line lineBox__line-yellow"></div>
            </div>
            <p class="title">Project One</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>