<div class="portfolioSection" id="portfolioSection">
  <div class="wrapper">
    <div class="article">
      <p class="article__titleText">лучшие блюда</p>
    </div>
    <div class="sliderWrap">
        <div class="slider">
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                  <img src="img/item.png" alt="">
                  <div class="overley">
                    предзаказ
                  </div>
                  <div class="overleyHeart">
                    <img src="img/heart.png" alt="">
                  </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                <img src="img/item.png" alt="">
                <div class="overley">
                  предзаказ
                </div>
                <div class="overleyHeart">
                  <img src="img/heart.png" alt="">
                </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                <img src="img/item.png" alt="">
                <div class="overley">
                  предзаказ
                </div>
                <div class="overleyHeart">
                  <img src="img/heart.png" alt="">
                </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                <img src="img/item.png" alt="">
                <div class="overley">
                  предзаказ
                </div>
                <div class="overleyHeart">
                  <img src="img/heart.png" alt="">
                </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                <img src="img/item.png" alt="">
                <div class="overley">
                  предзаказ
                </div>
                <div class="overleyHeart">
                  <img src="img/heart.png" alt="">
                </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                <img src="img/item.png" alt="">
                <div class="overley">
                  предзаказ
                </div>
                <div class="overleyHeart">
                  <img src="img/heart.png" alt="">
                </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
          <div class="sliderItem">
            <div class="containerItem">
              <div class="img">
                <img src="img/item.png" alt="">
                <div class="overley">
                  предзаказ
                </div>
                <div class="overleyHeart">
                  <img src="img/heart.png" alt="">
                </div>
              </div>
              <div class="title">
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicеing elit
                </p>
              </div>
              <div class="subText">
                <img src="img/stars.png" alt="">
                <a class="textLink">9 Отзывов</a>
              </div>
              <ul class="list">
                <li class="listItem">Готовится<span>2 часа</span></li>
                <li class="listItem">Сегодня к 17:00 - 17:30</li>
                <li class="listItem"><a href="#">Константин Поварович</a></li>
                <li class="listItem"><a href="#">Запорожье, ул. Земского врача Лукашевича, 47</a></li>
                <li class="listItem">150 грн</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="catalogBtn">
        <button class="btn">перейти в каталог</button>
      </div>
  </div>
</div>
