<div class="pricingSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">06</p>
      <p class="article__titleText article__titleText-text">Pricing Table.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="containerItem">
      <div class="itemBox">
        <div class="item_title">
          <p class="text_title">Starter</p>
        </div>
        <div class="borderItem">
          <div class="itemPrice">
            <p class="itemPrice__text">$125</p>
            <p class="itemPrice__pMonth">per month</p>
          </div>
        </div>
        <div class="item_text">
          <p class="text">
            <span>200GB</span>
            Online Storage
          </p>
          <p class="text">
            <span>20</span>
              Files Per Day
          </p>
          <p class="text">
            <span>2TB</span>
            Monthly Bandwidth
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            Secure Platform
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            24/7 Customer Support
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            Fast & Reliable
          </p>
        </div>
        <div class="itemButton">
          <button class="button">get started</button>
        </div>
      </div>
      <div class="itemBox itemBox__red">
        <div class="item_title">
          <p class="text_title">Ultimate</p>
        </div>
        <div class="borderItem borderItem-red">
          <div class="itemPrice itemPrice-bgcRed">
            <p class="itemPrice__text">$195</p>
            <p class="itemPrice__pMonth itemPrice__pMonth-txtRed">per month</p>
          </div>
        </div>
        <div class="item_text">
          <p class="text">
            <span>800GB</span>
            Online Storage
          </p>
          <p class="text">
            <span>Unlimited</span>
              Files Per Day
          </p>
          <p class="text">
            <span>10TB</span>
            Monthly Bandwidth
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            Secure Platform
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            24/7 Customer Support
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            Fast & Reliable
          </p>
        </div>
        <div class="itemButton">
          <button class="button button-btnRed">get started</button>
        </div>
      </div>
      <div class="itemBox itemBox__purple">
        <div class="item_title">
          <p class="text_title">Starter</p>
        </div>
        <div class="borderItem borderItem-purple">
          <div class="itemPrice itemPrice-bgcPurple">
            <p class="itemPrice__text">$125</p>
            <p class="itemPrice__pMonth itemPrice__pMonth-txtPurple">per month</p>
          </div>
        </div>
        <div class="item_text">
          <p class="text">
            <span>200GB</span>
            Online Storage
          </p>
          <p class="text">
            <span>20</span>
              Files Per Day
          </p>
          <p class="text">
            <span>2TB</span>
            Monthly Bandwidth
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            Secure Platform
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            24/7 Customer Support
          </p>
          <p class="text">
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            Fast & Reliable
          </p>
        </div>
        <div class="itemButton">
          <button class="button button-btnPurple">get started</button>
        </div>
      </div>
    </div>
  </div>
</div>