<div class="selectSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">08</p>
      <p class="article__titleText article__titleText-text">Why Select Us?</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="items items-select">
      <div class="item item-select">
        <div class="item__img item__img-select">
          <img src="img/selectIcon1.png" alt="Web Design">
        </div>
        <p class="item__title item__title-select">Business Growth</p>
        <div class="item__text item__text-select">
          <p>
            Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.
          </p>
        </div>
      </div>
     <div class="item item-select">
        <div class="item__img item__img-select">
          <img src="img/selectIcon2.png" alt="Web Design">
        </div>
        <p class="item__title item__title-select">Unlimited Revisions</p>
        <div class="item__text item__text-select">
          <p>
            Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.
          </p>
        </div>
      </div>
      <div class="item item-select">
        <div class="item__img item__img-select">
          <img src="img/selectIcon3.png" alt="Web Design">
        </div>
        <p class="item__title item__title-select">Ultimate
          Perfection</p>
        <div class="item__text item__text-select">
          <p>
            Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
          </p>
        </div>
      </div>
      <div class="item item-select">
        <div class="item__img item__img-select">
          <img src="img/selectIcon4.png" alt="Web Design">
        </div>
        <p class="item__title item__title-select">Smart Experience</p>
        <div class="item__text item__text-select">
          <p>
            Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.
          </p>
        </div>
      </div>
      <div class="item item-select">
        <div class="item__img item__img-select">
          <img src="img/selectIcon5.png" alt="Web Design">
        </div>
        <p class="item__title item__title-select">Strict <br>Deadline</p>
        <div class="item__text item__text-select">
          <p>
            Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.
          </p>
        </div>
      </div>
      <div class="item item-select">
        <div class="item__img item__img-select">
          <img src="img/selectIcon6.png" alt="Web Design">
        </div>
        <p class="item__title item__title-select">Award-winning Company</p>
        <div class="item__text item__text-select">
          <p>
            Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
          </p>
        </div>
      </div>
    </div>
    <div class="selectFooter">
      <p class="title">
        Start your journy with us now
      </p>
      <div class="wrapBtn">
      <button class="customBtn red">Get Started</button>    
    </div>
    </div>
  </div>
</div>