<div class="containerRow">
<div class="sliderSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-colorDigits">07</p>
      <p class="article__titleText article__titleText-colorText">Testimonials.</p>
      <p class="article__text article__text-colorText">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <!-- Main container -->
    <div class="cont">
      <section class="slider">
      <div class="slide slide--current" data-content="content-1">
        <div class="slide__mover">
          <div class="zoomer flex-center">
            <img class="zoomer__image" src="img/square.png" alt="square"/>
            <div class="textBox">
              <p class="text">
                Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer buyer client paradigm shift traction.
              </p>
              <p class="textFont">Melina</p>
              <p class="textName">Anna Schröder</p>
              <p class="textRed">Founder, TingTong</p>
            </div>
            <div class="preview">
              <img src="img/anna.png" alt="Anna Schröder"/>
              <div class="zoomer__area zoomer__area--size-2"></div>
            </div>
          </div>
        </div>
        <h2 class="slide__title"><span>Designer</span> Anna Schröder</h2>
      </div>
      <div class="slide" data-content="content-2">
        <div class="slide__mover">
          <div class="zoomer flex-center">
            <img class="zoomer__image" src="img/square.png" alt="David Krämer"/>
            <div class="textBox textBox-green">
              <p class="text">
                Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer buyer client paradigm shift traction.
              </p>
              <p class="textFont">Melina</p>
              <p class="textName">David Krämer</p>
              <p class="textRed">Founder, TingTong</p>
            </div>
            <div class="preview">
              <img src="img/david.png" alt="David Krämer" />
              <div class="zoomer__area zoomer__area--size-4"></div>
            </div>
          </div>
        </div>
        <h2 class="slide__title"><span>Lead Developer</span> David Krämer</h2>
      </div>
      <div class="slide" data-content="content-3">
        <div class="slide__mover">
          <div class="zoomer flex-center">
            <img class="zoomer__image" src="img/square.png" alt="Jason Teichmann"/>
            <div class="textBox textBox-yellow">
              <p class="text">
                Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer buyer client paradigm shift traction.
              </p>
              <p class="textFont">Melina</p>
              <p class="textName">Jason Teichmann</p>
              <p class="textRed">Founder, TingTong</p>
            </div>
            <div class="preview">
              <img src="img/jason.png" alt="Jason Teichmann"/>
              <div class="zoomer__area zoomer__area--size-3"></div>
            </div>
          </div>
        </div>
        <h2 class="slide__title"><span>Consultant</span> Jason Teichmann</h2>
      </div>
      <div class="slide" data-content="content-4">
        <div class="slide__mover">
          <div class="zoomer flex-center">
            <img class="zoomer__image" src="img/square.png" alt="" />
            <div class="textBox textBox-purple">
              <p class="text">
                Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer buyer client paradigm shift traction.
              </p>
              <p class="textFont">Melina</p>
              <p class="textName">Michael Schmitt</p>
              <p class="textRed">Founder, TingTong</p>
            </div>
            <div class="preview">
              <img src="img/michael.png" alt="Michael Schmitt"/>
              <div class="zoomer__area zoomer__area--size-4"></div>
            </div>
          </div>
        </div>
        <h2 class="slide__title"><span>Founder & CEO</span> Michael Schmitt</h2>
      </div>
      <nav class="slider__nav">
        <button class="button button--nav-prev"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i><span class="text-hidden">Previous product</span></button>
        <button class="button button--zoom"><i class="fa fa-search" aria-hidden="true"></i><span class="text-hidden">View details</span></button>
        <button class="button button--nav-next"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><span class="text-hidden">Next product</span></button>
      </nav>
    </section>
    <!-- /slider-->
    <section class="content">
      <div class="content__item" id="content-1">
        <img class="content__item-img rounded-right" src="img/annaOverlay.png" alt="Anna Schröder" />
        <div class="content__item-inner">
          <h2>Anna Schröder</h2>
          <h3>Designer</h3>
          <p>
            Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer buyer client paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market.
          </p>
          <div class="social social-inline">
            <p class="textIcon textIcon-slide">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="content__item" id="content-2">
        <img class="content__item-img rounded-right" src="img/davidOverlay.png" alt="David Krämer" />
        <div class="content__item-inner">
          <h2>David Krämer</h2>
          <h3>Lead Developer</h3>
          <p>
            Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership development success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market.
          </p>
          <div class="social social-inline">
            <p class="textIcon textIcon-slide">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="content__item" id="content-3">
        <img class="content__item-img rounded-right" src="img/jasonOverlay.png" alt="Jason Teichmann" />
        <div class="content__item-inner">
          <h2>Jason Teichmann</h2>
          <h3>Consultant</h3>
          <p>
            Monetization first mover advantage first iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A buyer financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market.
          </p>
          <div class="social social-inline">
            <p class="textIcon textIcon-slide">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="content__item" id="content-4">
        <img class="content__item-img rounded-right" src="img/michaelOverley.png" alt="iMac Content" />
        <div class="content__item-inner">
          <h2>Michael Schmitt</h2>
          <h3>Founder & CEO</h3>
          <p>
            Monetization first mover advantage iPad. Interaction iPad design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market. 
          </p>
          <div class="social social-inline">
            <p class="textIcon textIcon-slide">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </p>
            <p class="textIcon textIcon-slide">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
      <button class="button button--close"><i class="fa fa-times" aria-hidden="true"></i><span class="text-hidden">Close content</span></button>
    </section>
    </div>
  </div>
</div>
</div>