<div class="teamSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">04</p>
      <p class="article__titleText article__titleText-text">Our Team.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="items" id="items">
      <div class="item item-red  item-change">
        <div class="item__img item__img-bot">
          <img src="img/michael.png" alt="Web Design">
        </div>
        <p class="item__title item__title-red">Michael Schmitt</p>
        <div class="item__text item__text-inner">
          <p>Founder & CEO</p>
        </div>
      </div>
      <div class="item item-green item-change">
        <div class="item__img item__img-bot">
          <img src="img/david.png" alt="Ux Design">
        </div>
        <p class="item__title item__title-green">David Krämer</p>
        <div class="item__text item__text-inner">
          <p>Lead Developer</p>
        </div>
      </div>
      <div class="item item-purpure item-change">
        <div class="item__img item__img-bot">
          <img src="img/anna.png" alt="photography">
        </div>
        <p class="item__title item__title-purpure">Anna Schröder</p>
        <div class="item__text item__text-inner">
          <p>Designer</p>
        </div>
      </div>
      <div class="item item-yellow item-change">
        <div class="item__img item__img-bot">
          <img src="img/jason.png" alt="App Development">
        </div>
        <p class="item__title item__title-yellow">Jason Teichmann</p>
        <div class="item__text item__text-inner">
          <p>Consultant</p>
        </div>
      </div>
      <div class="itemContent" id="michael">
        <div class="triangle triangle-indentZ">
          <img src="img/arrow.svg" alt="">
        </div>
        <p class="title">About Michael Schmitt</p>
        <div class="contentRow">
          <div class="textRow">
            <p class="textTeam">
              Monetization first mover advantage iPad. Interaction iPad design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market. 
            </p>
          </div>
          <div class="img"><img src="img/shareRed.svg" alt="social"></div>
          <div class="social">
            <p class="textIcon">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Facebook
            </p>
            <p class="textIcon">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              Twitter
            </p>
            <p class="textIcon">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              LinkedIn
            </p>
            <p class="textIcon">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </p>
          </div>
        </div>
      </div>
      <div class="itemContent" id="david">
        <div class="triangle triangle-indentY">
          <img src="img/arrow.svg" alt="">
        </div>
        <p class="title">About David Krämer</p>
        <div class="contentRow">
          <div class="textRow">
            <p class="text">
              Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership development success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market. 
            </p>
          </div>
          <div class="img"><img src="img/shareGreen.svg" alt="social"></div>
          <div class="social">
            <p class="text">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Facebook
            </p>
            <p class="text">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              Twitter
            </p>
            <p class="text">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              LinkedIn
            </p>
            <p class="text">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </p>
          </div>
        </div>
      </div>
      <div class="itemContent" id="anna">
        <div class="triangle triangle-indentX">
          <img src="img/arrow.svg" alt="">
        </div>
        <p class="title">About Anna Schröder</p>
        <div class="contentRow">
          <div class="textRow">
            <p class="text">
              Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer buyer client paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market. 
            </p>
          </div>
          <div class="img"><img src="img/sharePurple.svg" alt="social"></div>
          <div class="social">
            <p class="text">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Facebook
            </p>
            <p class="text">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              Twitter
            </p>
            <p class="text">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              LinkedIn
            </p>
            <p class="text">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </p>
          </div>
        </div>
      </div>
    <div class="itemContent" id="jason">
      <div class="triangle">
        <img src="img/arrow.svg" alt="">
      </div>
      <p class="title">About Jason Teichmann</p>
      <div class="contentRow">
        <div class="textRow">
          <p class="text">
            Monetization first mover advantage first iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A buyer financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market.
          </p>
        </div>
        <div class="img"><img src="img/shareYellow.svg" alt="social"></div>
          <div class="social">
            <p class="text">
              <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook
            </p>
            <p class="text">
              <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter
            </p>
            <p class="text">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
            </p>
            <p class="text">
              <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>