<div class="videoSection">
  <div class="video-container">
    <video loop autoplay class="fillWidth">
      <source src="video/For_Wes.mp4" type="video/mp4"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="video/For_Wes.webm" type="video/webm"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="overleyText">
      <p class="title">Explore Our Awesomeness</p>
      <button class="play" type="button"></button>
      <button class="pause" type="button"></button>
      <p class="text">Click to play the video</p>
    </div>
</div>