<div class="workStepsSection">
  <div class="wrapper">
    <div class="article bgc">
      <p class="article__digits article__digits-add">05</p>
      <p class="article__titleText article__titleText-text">Work Steps.</p>
      <p class="article__text article__text-position">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="contentRow">
      <div class="blockContainer">
        <div class="blockContainer__left blockContainer__red">
          <div class="blockContainer__left__digits">
            <p class="digit">01</p>
            <div class="line"></div>
          </div>
          <div class="blockContainer__left__textBox">
            <p class="title">Project Understanding</p>
            <p class="text">
              Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            </p>
          </div>
        </div>
        <div class="blockContainer__center">
          <div class="blockContainer__center-red"></div>
        </div>
      </div>
      <div class="blockContainer">
        <div class="blockContainer__right blockContainer__green">
          <div class="blockContainer__left__digits">
            <p class="digit">02</p>
            <div class="line"></div>
          </div>
          <div class="blockContainer__left__textBox">
            <p class="title">Research & Planning</p>
            <p class="text">
              Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            </p>
          </div>
        </div>
        <div class="blockContainer__center">
          <div class="blockContainer__center-green"></div>
        </div>
      </div>
      <div class="blockContainer">
        <div class="blockContainer__left blockContainer__purple">
          <div class="blockContainer__left__digits">
            <p class="digit">03</p>
            <div class="line"></div>
          </div>
          <div class="blockContainer__left__textBox">
            <p class="title">Project Understanding</p>
            <p class="text">
              Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            </p>
          </div>
        </div>
        <div class="blockContainer__center">
          <div class="blockContainer__center-purple"></div>
        </div>
      </div>
      <div class="blockContainer">
        <div class="blockContainer__right blockContainer__yellow">
          <div class="blockContainer__left__digits">
            <p class="digit">04</p>
            <div class="line"></div>
          </div>
          <div class="blockContainer__left__textBox">
            <p class="title">Research & Planning</p>
            <p class="text">
              Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            </p>
          </div>
        </div>
        <div class="blockContainer__center">
          <div class="blockContainer__center-yellow"></div>
        </div>
      </div>
    </div>
  </div>
</div>