.footerSection {
	padding: 0 15px;
	background: url("../img/footer_image.png") no-repeat center;
	background-size: cover;
  .footerRow {
		display: flex;
	  align-items: center;
	  justify-content: space-between;
		.itemFooter {
	  	max-width: 330px;
			padding: 15px;
			display: flex;
			&:last-child {
				justify-content: flex-end;
			}
			.logoTitle {
				text-align: right;
				font-size: 20px;
				line-height: 23px;
        color: $accentBlue;
      }
      .logo {
				margin-left: 5px;
				text-align: center;
				font-size: 54px;
				line-height: 52px;
				color: $accentBlue;
				text-shadow: 1px -1px 2px $white, 1px -1px 2px $accentBlue;
			}
			.wrapText {
				text-align: center;
        font-size: 22px;
				color: $accentBlue;
				margin: auto;
				.textAdress {
					text-shadow: 0 0 4px $white, 0 0 7px $white;
					margin-bottom: 7px;
				}
			}
			.titlePhone {
				text-align: right;
				margin: auto 20px auto 0;
				.title {
					margin-bottom: 5px;
					font-size: 20px;
					color: $accentBlue;
					text-shadow: 0 0 3px $white;
				}
			}
			.wrapPhone {
				display: flex;
				flex-direction: column;
				.phone {
					margin-bottom: 5px;
					font-size: 20px;
					color: $accentBlue;
					text-shadow: 0 0 3px $white;
				}
			}
		}
  }
}
.btnUp {
	position: fixed;
	bottom: 200px;right: 15px;
	width: 30px;
	height: 30px;
	background-color: rgba(0, 89, 179, .2);
	text-align: center;
	transition: 2s;
	border-radius: 5px;
	z-index: 100;
	&:hover {
		background-color: $accentBlueLight;
	}
	.up {
		display: block;
		font-size: 42px;
		line-height: 7px;
		outline: none;
		text-decoration: none;
		text-shadow: 0 0 4px $white;
		padding-top: 25px;
		transition: 2s;
		animation: up 2s infinite alternate ease-in-out;
		&:hover {
			color: $white;
		}
	}
	@keyframes up {
		from {
			opacity: .4;
			color: $white;
			text-shadow: 0 0 5px black, 2px 0 10px black, 4px 0 15px black;
		}
		to {
			opacity: 1;
		}
	}
}
/* Media Queries */
@media screen and (max-width: 1024px) {
.footerSection {
  padding: 0;
}
}
@media screen and (max-width: 768px) {
.footerSection {
  padding: 0;
  .footerRow {
		flex-wrap: wrap;
		justify-content: space-around;
  	.itemFooter {
  		padding: 20px 15px;
		}
  }
}
}
@media screen and (max-width: 480px) {
.footerSection {
  padding: 0;
  .footerRow {
  	.itemFooter {
			padding: 5px 15px;
			&:last-child {
				justify-content: flex-end;
			}
			.logoTitle {
				text-align: right;
				color: $accentBlue;
			}
			.logo {
				margin-left: 5px;
				text-align: center;
				font-size: 40px;
				color: $accentBlue;
			}
			.wrapText {
				text-align: center;
				font-size: 22px;
				color: $accentBlue;
				margin: auto;
				.textAdress {
					text-shadow: 0 0 4px $white, 0 0 7px $white;
					margin-bottom: 7px;
				}
			}
			.titlePhone {
				text-align: right;
				margin: auto 20px auto 0;
				.title {
					margin-bottom: 5px;
					font-size: 20px;
					color: $accentBlue;
					text-shadow: 0 0 3px $white;
				}
			}
			.wrapPhone {
				display: flex;
				flex-direction: column;
				.phone {
					margin-bottom: 5px;
					font-size: 16px;
					color: $accentBlue;
					text-shadow: 0 0 3px $white;
				}
			}
	}
		
	
  }
}
}
