.aboutUsSection {
  padding: 150px 15px;
  .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
  flex-wrap: wrap;
   	.imgAbout {
   	  border: 10px solid $gray;
   	  & img {
   	  	max-width: 535px;
        width: 100%;
   	  }
   	}
  }
}
.lineBox {
   	  display: flex;
      align-items: flex-end;
      &__line {
      	height: 3px;
        width: 25%;
        animation: width 2s ease-in;
        @keyframes width {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
        
      	&-red {
      	  background-color: $red;
      	}
      	&-green {
      	  background-color: $green;
      	}
      	&-purple {
      	  background-color: $purpure;
      	}
      	&-yellow {
      	  background-color: $yellow;
      	}
      }
    }
@media screen and (max-width: 1024px) {
.aboutUsSection {
  padding: 40px 15px;
}
}
@media screen and (max-width: 768px) {
.aboutUsSection {
  padding: 25px 15px;
}
}
@media screen and (max-width: 480px) {
.aboutUsSection {
  padding: 15px 15px;
}
}