.selectSection {
  background-color: $white;
  padding: 0 15px 150px 15px;
    .selectFooter {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .title {
        font-size: 25px;
        font-weight: 400;
      }
      .wrapBtn {
        margin-left: 50px;
      }
    }
}
/* Media Queries */
@media screen and (max-width: 1024px) {
.selectSection {
  padding: 0 15px 75px 15px;
  .items-select {
    margin: 0;
  }
}
}
@media screen and (max-width: 768px) {
.selectSection {
  padding: 0 15px 50px 15px;
}
}
@media screen and (max-width: 480px) {
.selectSection {
  padding: 0 15px 25px 15px;
  .selectFooter {
    .title {
      font-size: 18px;
      margin-bottom: 25px;
      }
      .wrapBtn {
        margin-left: 0;
      }
    }
}
}