.teamSection {
  background-color: $graylight;
  padding: 0 15px 150px 15px;
    #michael {
      box-shadow: 0px 5px 20px 0px $redShadow;
      animation: opacityLeft 1s;
    }
    #david {
      box-shadow: 0px 5px 20px 0px $greenShadow;
      animation: opacityLeft 1s;
    }
    #anna {
      box-shadow: 0px 5px 20px 0px $purpShadow;
      animation: opacityRight 1s;
    }
    #jason {
      box-shadow: 0px 5px 20px 0px $yellowShadow;
      animation: opacityRight 1s;
    }
    .itemContent {
      width: 100%;
      margin: 50px auto 0;
      padding: 60px;
      background-color: $white;
      transition: all 0.7s ease;
      position: relative;
      .triangle {
        position: absolute;
        top: -42px;
        left: 86%;
        z-index: 1;
        &-indentX {
          left: 61%;
        }
        &-indentY {
          left: 34%;
        }
        &-indentZ {
          left:9%;
        }
      }
      @keyframes opacityLeft {
          from {
            opacity: 0;
            left: -100px;
          }
          to {
            opacity: 1;
            left: 0;
          }
        }
        @keyframes opacityRight {
          from {
            opacity: 0;
            right: -100px;
          }
          to {
            opacity: 1;
            right: 0;
          }
        }
      .title {
        margin-bottom: 35px;
        font-size: 20px;
        font-weight: 500;
      }
      .contentRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .textRow {
          display: flex;
          max-width: 650px;
          .textTeam {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5em;
            color: $TxtGray;
          }
        }
        .img {
            max-width: 100%;
            height: auto;
            margin-left: 70px;
        }
      }
    }
}

/* Media Queries */
@media screen and (max-width: 1024px) {
.teamSection {
  padding: 0 15px 70px 15px;
  .itemContent {
    margin-top: 0;
    padding: 40px;
    .triangle {
        display: none;
      }
    .contentRow {
      justify-content: space-around;
      .textRow {
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
    .social {
      display: flex;
      align-items: center;
      border: none;
    .textIcon {
      margin-left: 20px;
      line-height: 1.5em;
    }
  }
  }
}
}
@media screen and (max-width: 768px) {
.teamSection {
  padding: 0 15px 50px 15px;
  .itemContent {
    padding: 25px;
      .title {
        margin-bottom: 20px;
        font-size: 18px;
      }
      .contentRow {
        .textRow {
          .textTeam {
            font-size: 14px;
            line-height: 1.3em;
          }
        }
        .img {
            margin-left: 0;
        }
      }
    }
}
}
@media screen and (max-width: 480px) {
.teamSection {
  padding: 0 15px;
  .itemContent {
    visibility: hidden;
    height: 0;
    }
}
}