.videoSection {
  border: none;
  position: relative;
  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 500px;
    width: 100%;
    background: #000;
    overflow: hidden;
    .fillWidth {
      width: 100%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      margin: auto;
    }
    .overleyText {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .title {
        font-size: 30px;
        font-weight: 400;
        color: $white;
        letter-spacing: 1px;
        text-shadow: 10px 6px 30px #000;
        transition: .8s;
      }
      .play {
        background: url('../img/play.svg') no-repeat center center;
        width: 100px;
        height: 100px;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: 1s;
        opacity: .55;
        z-index: 100;
        &:hover {
          opacity: 1;
          &:hover:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;
            border: 0.8px solid $greenShadow;
            border-radius: 50%;
            transition: .8s
          }
        }
      }
      .pause {
        width: 100px;
        height: 100px;
        border: none;
        background: url('../img/pause.svg') no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: 1s;
        opacity: 0;
      }
      .text {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        color: $white;
        text-shadow: 10px 7px 20px #000;
        transition: .8s;
      }
    }
  }
}
/* Media Queries */
@media screen and (max-width: 480px) {
.videoSection {
  .video-container {
    height: 220px;
    .overleyText {
      .title {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .text {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
}
}
@media screen and (max-width: 400px) {
.videoSection {
  .video-container {
    height: 200px;
    .overleyText {
      .title {
        font-size: 20px;
        margin-bottom: 30px;
      }
      .text {
        margin-top: 30px;
        font-size: 14px;
      }
    }
  }
}
}
@media screen and (max-width: 320px) {
.videoSection {
  .video-container {
    height: 180px;
    .overleyText {
      .title {
        font-size: 18px;
        margin-bottom: 40px;
      }
      .text {
        margin-top: 40px;
        font-size: 14px;
      }
    }
  }
}
}